<ion-content #content >
  <div class="screen" #screen [class.hebrewText]="this.translate.currentLang === 'he'">
  <div  class="card border-primary mb-3">
    <div class="card-header">
      {{ 'ALOSHASHACHAR' | translate }} {{this.getGeorgianDate()}}
    </div>
  <div class="card-body text-primary">
    <strong>19.8°</strong> {{this.complexZmanimCalendar.getAlos19Point8Degrees() | date:'HH:mm:ss'}}
    <strong>16.1°</strong> {{this.complexZmanimCalendar.getAlos16Point1Degrees() | date:'HH:mm:ss'}}
    <strong> {{ '72_MINUTES' | translate }} </strong> {{this.complexZmanimCalendar.getAlos72() | date:'HH:mm:ss'}}
  </div>
  </div>
  <div class="card border-primary mb-3">
    <div class="card-header">
      {{ 'MISHEYAKIR' | translate }} {{this.getGeorgianDate()}}
    </div>
  <div class="card-body text-primary">
    <strong>11.5°</strong> {{this.complexZmanimCalendar.getMisheyakir11Point5Degrees() | date:'HH:mm:ss'}}
    <strong>11°</strong> {{this.complexZmanimCalendar.getMisheyakir11Degrees() | date:'HH:mm:ss'}}
    <strong>10.2°</strong> {{this.complexZmanimCalendar.getMisheyakir10Point2Degrees() | date:'HH:mm:ss'}}
  </div>
  </div>
  <div class="card border-primary mb-3">
    <div class="card-header">
      {{ 'SUNRISE' | translate }} {{this.getGeorgianDate()}}
    </div>
  <div class="card-body text-primary">
    <strong>{{ 'SEA_LEVEL' | translate }}</strong> {{this.complexZmanimCalendar.getSunrise() | date:'HH:mm:ss'}}
  </div>
  </div>
  <div class="card border-primary mb-3">
    <div class="card-header">
      {{ 'SOF_ZMAN_SHMA' | translate }} {{this.getGeorgianDate()}}
    </div>
  <div class="card-body text-primary">
    <strong>16.1°</strong> {{this.complexZmanimCalendar.getSofZmanShmaAlos16Point1ToSunset() | date:'HH:mm:ss'}}
    <strong>MGA {{ '72_MINUTES' | translate }}</strong> {{this.complexZmanimCalendar.getSofZmanShmaMGA72Minutes() | date:'HH:mm:ss'}}
    <strong>{{ 'GRA' | translate }}</strong> {{this.complexZmanimCalendar.getSofZmanShmaGRA() | date:'HH:mm:ss'}}
  </div>
  </div>
  <div class="card border-primary mb-3">
    <div class="card-header">
      {{ 'CHATZOS' | translate }} {{this.getGeorgianDate()}}
    </div>
  <div class="card-body text-primary">
    <strong>{{ 'SEA_LEVEL' | translate }}</strong> {{this.complexZmanimCalendar.getChatzos() | date:'HH:mm:ss'}}
  </div>
  </div>
  <div class="card border-primary mb-3">
    <div class="card-header">
      {{ 'MINCHA_GEDOLA' | translate }} {{this.getGeorgianDate()}}
    </div>
  <div class="card-body text-primary">
    <strong>{{ 'SEA_LEVEL' | translate }}</strong> {{this.complexZmanimCalendar.getMinchaGedola() | date:'HH:mm:ss'}}
    <strong>16.1°</strong> {{this.complexZmanimCalendar.getMinchaGedola16Point1Degrees()| date:'HH:mm:ss'}}
    <strong>{{ '72_MINUTES' | translate }}</strong> {{this.complexZmanimCalendar.getMinchaGedola72Minutes() | date:'HH:mm:ss'}}
  </div>
  </div>
  <div class="card border-primary mb-3">
    <div class="card-header">
      {{ 'MINCHA_KETANA' | translate }} {{this.getGeorgianDate()}}
    </div>
  <div class="card-body text-primary">
    <strong>{{ 'SEA_LEVEL' | translate }}</strong> {{this.complexZmanimCalendar.getMinchaKetana() | date:'HH:mm:ss'}}
    <strong>16.1°</strong> {{this.complexZmanimCalendar.getMinchaKetana16Point1Degrees()| date:'HH:mm:ss'}}
    <strong>{{ '72_MINUTES' | translate }}</strong> {{this.complexZmanimCalendar.getMinchaKetana72Minutes() | date:'HH:mm:ss'}}
  </div>
  </div>
  <div class="card border-primary mb-3">
    <div class="card-header">
      {{ 'PLAG_HAMINCHA' | translate }} {{this.getGeorgianDate()}}
    </div>
  <div class="card-body text-primary">
    <strong>{{ 'SEA_LEVEL' | translate }}</strong> {{this.complexZmanimCalendar.getPlagHamincha() | date:'HH:mm:ss'}}
    <strong>{{ '72_MINUTES' | translate }}</strong> {{this.complexZmanimCalendar.getPlagHamincha72Minutes() | date:'HH:mm:ss'}}
  </div>
  </div>
  <div class="card border-primary mb-3">
    <div class="card-header">
      {{ 'SUNSET' | translate }} {{this.getGeorgianDate()}}
    </div>
  <div class="card-body text-primary">
    <strong>{{ 'SEA_LEVEL' | translate }}</strong> {{this.complexZmanimCalendar.getSunset() | date:'HH:mm:ss'}}
  </div>
  </div>
  <div class="card border-primary mb-3">
    <div class="card-header">
      {{ 'TZAIS_GEONIM' | translate }} {{this.getGeorgianDate()}}
    </div>
  <div class="card-body text-primary">
    <strong>6.45°</strong> {{this.complexZmanimCalendar.getTzaisGeonim6Point45Degrees() | date:'HH:mm:ss'}}
    <strong>8.5°</strong> {{this.complexZmanimCalendar.getTzaisGeonim8Point5Degrees() | date:'HH:mm:ss'}}
  </div>
  </div>
  <div class="card border-primary mb-3">
    <div class="card-header">
      {{ 'TZAIS' | translate }} {{this.getGeorgianDate()}}
    </div>
  <div class="card-body text-primary">
    <strong>16.1°</strong> {{this.complexZmanimCalendar.getTzais16Point1Degrees() | date:'HH:mm:ss'}}
    <strong>{{ '72_MINUTES' | translate }}</strong> {{this.complexZmanimCalendar.getTzais72() | date:'HH:mm:ss'}}
  </div>
  </div>
  <div class="card border-primary mb-3">
    <div class="card-header">
      {{ 'SHAAH_ZMANIS' | translate }} {{this.getGeorgianDate()}}
    </div>
  <div class="card-body text-primary">
    <strong>{{ '72_MINUTES' | translate }}</strong> {{this.complexZmanimCalendar.getShaahZmanis72Minutes() | date:'HH:mm:ss'}}
    <strong>16.1°</strong> {{this.complexZmanimCalendar.getShaahZmanis16Point1Degrees() | date:'HH:mm:ss'}}
    <strong>{{ 'GRA' | translate }}</strong> {{this.complexZmanimCalendar.getShaahZmanisGra() | date:'HH:mm:ss'}}
  </div>
  </div>
</div>
</ion-content>
<app-navigation-buttons leftbutton="copy-outline" rightbutton="settings-outline"></app-navigation-buttons>