<ion-segment>
        <ion-segment-button style='--padding-end: 0px; --padding-start: 0px;' value="rabbi-view">
          <ion-icon class="item" name="person-circle"></ion-icon>
        </ion-segment-button>
        <ion-segment-button class="item" value="study-view">
          <ion-icon class="item" name="book-outline"></ion-icon>
        </ion-segment-button>
        <ion-segment-button value="today-times-view">
          <ion-icon name="hourglass-outline"></ion-icon>
        </ion-segment-button>
        <ion-segment-button value="times-view">
          <ion-icon name="time-outline"></ion-icon>
        </ion-segment-button>
        <ion-segment-button value="basicdatepicker">
          <ion-icon name="calendar"></ion-icon>
        </ion-segment-button>
        <ion-segment-button value="hebrewdatepicker">
          <ion-icon name="calendar"></ion-icon>
        </ion-segment-button>
</ion-segment>


<!-- <ion-tab-button tab="rabbi-view" autofocus>
  <ion-icon name="person-circle"></ion-icon>
</ion-tab-button>
<ion-tab-button tab="study-view">
  <ion-icon name="book-outline"></ion-icon>
</ion-tab-button>
<ion-tab-button tab="times-today-view">
  <ion-icon name="hourglass-outline"></ion-icon>
</ion-tab-button>
<ion-tab-button tab="times-view">
  <ion-icon name="time-outline"></ion-icon>
</ion-tab-button>   
<ion-tab-button tab="basicdatepicker">
  <ion-icon name="calendar"></ion-icon>
</ion-tab-button>
<ion-tab-button tab="hebrewdatepicker">
  <ion-icon name="calendar"></ion-icon>
</ion-tab-button> -->