/* Optional CSS utils that can be commented out */
@import "~bootstrap/scss/bootstrap";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

@function theme-color($key: "primary") {
    @return map-get($theme-colors, $key);
  }


.navMenu{
    display: flex;
    flex-direction: row ;
    justify-content: space-between;
    padding: 0.2rem;
}

.button {
    height: 2rem;
    width: 2rem;
    border-radius: 0.2rem;
    align-items: center;
    justify-content: center;
}

.selectedButton {
    height: 2rem;
    width: 2rem;
    border-radius: 0.2rem;
    align-items: center;
    justify-content: center;
    background-color: theme-color(primary);
}

.icon {
    height: 1.5rem;
    width: 1.5rem;
    padding-top: 12%;
    padding-left: 12%;
}