<div class='navMenu'>
        <div #buttons class="button" value="rabbi-view">
          <ion-icon class="icon" name="person-circle" ></ion-icon>
        </div>
        <div #buttons class="button" value="study-view">
          <ion-icon class="icon" name="book-outline"></ion-icon>
        </div>
        <div #buttons class="button" value="today-times-view">
          <ion-icon class="icon" name="hourglass-outline"></ion-icon>
        </div>
        <div #buttons class="button" value="times-view">
          <ion-icon class="icon" name="time-outline"></ion-icon>
        </div>
        <div #buttons class="button" value="basicdatepicker">
          <ion-icon class="icon" name="calendar"></ion-icon>
        </div>
        <div #buttons class="button" value="hebrewdatepicker">
          <ion-icon class="icon" name="calendar"></ion-icon>
        </div>
</div>


<!-- <ion-tab-button tab="rabbi-view" autofocus>
  <ion-icon name="person-circle"></ion-icon>
</ion-tab-button>
<ion-tab-button tab="study-view">
  <ion-icon name="book-outline"></ion-icon>
</ion-tab-button>
<ion-tab-button tab="times-today-view">
  <ion-icon name="hourglass-outline"></ion-icon>
</ion-tab-button>
<ion-tab-button tab="times-view">
  <ion-icon name="time-outline"></ion-icon>
</ion-tab-button>   
<ion-tab-button tab="basicdatepicker">
  <ion-icon name="calendar"></ion-icon>
</ion-tab-button>
<ion-tab-button tab="hebrewdatepicker">
  <ion-icon name="calendar"></ion-icon>
</ion-tab-button> -->