<ion-content #content>
  <div class="screen" #screen [class.hebrewText]="this.translate.currentLang === 'he'">
  <div class="card border-primary mb-3">
    <div class="card-header">
      AlosHashachar Today
    </div>
  <div class="card-body text-primary">
    <strong>19.8°</strong> {{this.alos19Point8Degrees}}
    <strong>16.1°</strong> {{this.alos16Point1Degrees}}
    <strong>72 Minutes</strong> {{this.alos72}}
  </div>
  </div>
  <div class="card border-primary mb-3">
    <div class="card-header">
      Misheyakir Today
    </div>
  <div class="card-body text-primary">
    <strong>11.5°</strong> {{this.misheyakir11Point5Degrees}}
    <strong>11°</strong> {{this.misheyakir11Degrees}}
    <strong>10.2°</strong> {{this.misheyakir10Point2Degrees}}
  </div>
  </div>
  <div class="card border-primary mb-3">
    <div class="card-header">
      Sunrise Today
    </div>
  <div class="card-body text-primary">
    <strong>Sea Level</strong> {{this.sunrise}}
  </div>
  </div>
  <div class="card border-primary mb-3">
    <div class="card-header">
      Sof Zman Shma Today
    </div>
  <div class="card-body text-primary">
    <strong>16.1°</strong> {{this.sofZmanShmaAlos16Point1ToSunset}}
    <strong>MGA 72 Minutes</strong> {{this.sofZmanShmaMGA72Minutes}}
    <strong>GRA</strong> {{this.sofZmanShmaGRA}}
  </div>
  </div>
  <div class="card border-primary mb-3">
    <div class="card-header">
      Chatzos Today
    </div>
  <div class="card-body text-primary">
    <strong>Sea Level</strong> {{this.chatzos}}
  </div>
  </div>
  <div class="card border-primary mb-3">
    <div class="card-header">
      Mincha Gedola Today
    </div>
  <div class="card-body text-primary">
    <strong>Sea Level</strong> {{this.minchaGedola}}
    <strong>16.1°</strong> {{this.minchaGedola16Point1Degrees}}
    <strong>72 Minutes</strong> {{this.minchaGedola72Minutes}}
  </div>
  </div>
  <div class="card border-primary mb-3">
    <div class="card-header">
      Mincha Ketana Today
    </div>
  <div class="card-body text-primary">
    <strong>Sea Level</strong> {{this.minchaKetana}}
    <strong>16.1°</strong> {{this.minchaKetana16Point1Degrees}}
    <strong>72 Minutes</strong> {{this.minchaKetana72Minutes}}
  </div>
  </div>
  <div class="card border-primary mb-3">
    <div class="card-header">
      Plag Hamincha Today
    </div>
  <div class="card-body text-primary">
    <strong>Sea Level</strong> {{this.plagHamincha}}
    <strong>72 Minutes</strong> {{this.plagHamincha72Minutes}}
  </div>
  </div>
  <div class="card border-primary mb-3">
    <div class="card-header">
      Sunset (Shkiyat Ha-Hama) Today
    </div>
  <div class="card-body text-primary">
    <strong>Sea Level</strong> {{this.sunset}}
  </div>
  </div>
  <div class="card border-primary mb-3">
    <div class="card-header">
      Tzais Geonim Today
    </div>
  <div class="card-body text-primary">
    <strong>6.45°</strong> {{this.tzaisGeonim6Point45Degrees}}
    <strong>8.5°</strong> {{this.tzaisGeonim8Point5Degrees}}
  </div>
  </div>
  <div class="card border-primary mb-3">
    <div class="card-header">
      Tzais Today
    </div>
  <div class="card-body text-primary">
    <strong>16.1°</strong> {{this.tzais16Point1Degrees}}
    <strong>72 Minutes</strong> {{this.tzais72}}
  </div>
  </div>
  <div class="card border-primary mb-3">
    <div class="card-header">
      Shaah Zmanis Today
    </div>
  <div class="card-body text-primary">
    <strong>72 Minutes</strong> {{this.shaahZmanis72Minutes}}
    <strong>16.1°</strong> {{this.shaahZmanis16Point1Degrees}}
    <strong>GRA</strong> {{this.shaahZmanisGra}}
  </div>
  </div>
</div>
</ion-content>
<app-navigation-buttons leftbutton="copy-outline" rightbutton="settings-outline"></app-navigation-buttons>
