<div class="screen">
    <button type="button" class="btn btn-primary" autofocus (keydown.enter)="selectADate()">Select a date</button>
    <br>
    <button type="button" class="btn btn-primary" (keydown.enter)="selectToday()">Select today</button>
    <br>
    <button type="button" class="btn btn-primary" (keydown.enter)="createEvent()">Create Event</button>
    <br>
    <button type="button" class="btn btn-warning" (keydown.enter)="makeNotification()">Create notification</button>
    <br>
    <button type="button" class="btn btn-primary" (keydown.enter)="deleteDatabase()">Delete database</button>
    <button type="button" class="btn btn-info" (keydown.enter)="writeFile()">Write file</button>
    <button type="button" class="btn btn-info" (keydown.enter)="readFile()">Read file</button>
</div>