<div class="screen">
    <button type="button" class="btn btn-primary" autofocus (keydown.enter)="selectADate()">{{ 'SELECT_A_DATE' | translate}}</button>
    <button type="button" class="btn btn-primary" (keydown.enter)="selectToday()">{{ 'SELECT_TODAY' | translate }}</button>
    <button type="button" class="btn btn-primary" (keydown.enter)="createEvent()">{{ 'CREATE_EVENT' | translate }}</button>
    <button type="button" class="btn btn-warning" (keydown.enter)="makeNotification()">{{ 'CREATE_NOTIFICATION' | translate }}</button>
    <button type="button" class="btn btn-primary" (keydown.enter)="openSettings()">{{ 'SETTINGS' | translate}}</button>
</div>
<app-navigation-buttons rightbutton="arrow-undo"></app-navigation-buttons>