<form [formGroup]="notificationForm">
  <div class="form-group">
    <input formControlName="unitsBefore"
    class="form-control"#numberInput autofocus placeholder="{{ 'ENTER_VALUE' | translate }}" >
    <p *ngIf="notificationForm.get('unitsBefore').errors?.pattern" class="text-danger">Only numbers allowed</p>
    <p *ngIf="notificationForm.get('unitsBefore').errors?.maxvalue" class="text-danger">Value can't be more than 60</p>
  </div>
  <div class="form-group">
    <select #select formControlName="unitsType" class="form-control">
      <option value="" disabled selected>{{ 'ENTER_UNITS' | translate }}</option>
      <option value="MINUTES_BEFORE">{{ 'MINUTES_BEFORE' | translate }}</option>
      <option value="HOURS_BEFORE">{{ 'HOURS_BEFORE' | translate }}</option>
      <option value="DAYS_BEFORE">{{ 'DAYS_BEFORE' | translate }}</option>
      <option value="MONTS_BEFORE">{{ 'MONTS_BEFORE' | translate }}</option>
    </select>
  </div>
  <button type="submit" [disabled]="!notificationForm.valid" class="btn btn-info" (keydown.enter)="onSubmit()">{{ 'CREATE_NOTIFICATION' | translate }}</button>
</form>