<ion-content [scrollY]="true">
<h6>{{this.time}}</h6> 
<h6>Molad Chalakim</h6> 
{{'Molad chalakim: ' + this.chalakim}} <br>
{{'Molad chalakim tohu: ' + this.chalakimTohu}} 
<hr>
<h6>Parasha</h6> 
{{this.parsha}} <br>
{{this.specialParsha}} 
<hr>
<h6>Talmud Bavli</h6>
{{this.masechta}} <br>
{{this.masechtapage}} <br>
{{this.masechtanumber}} <br>
<hr>
<h6>Talmud Yerushalmi</h6> 
{{this.masechtajrs}} <br>
{{this.masechtapagejrs}} <br>
{{this.masechtanumberjrs}}
<hr>
<h6>Rambam</h6>
{{this.rambam}} <br>
</ion-content>
