.yomtov.btn:focus{
    background: rgb(236,199,147) !important;
    color: black !important;
}
.yomtov.btn{
    border: 0.2rem solid rgb(236,199,147) !important;
    color: dimgray;
}

.holyday.btn:focus{
    background: rgb(183, 236, 147) !important;
    color: black !important;
}
.holyday.btn{
    border: 0.2rem solid rgb(183, 236, 147) !important;
    color: dimgray;
}

.roshhodesh.btn:focus{
    background:rgb(236, 147, 147) !important;
    color: black !important;
}
.roshhodesh.btn{
    border: 0.2rem solid rgb(236, 147, 147) !important;
    color: dimgray;
}

.kidushLevana.btn:focus{
    background:rgb(236, 147, 147) !important;
    color: black !important;
}
.kidushLevana.btn{
    border: 0.2rem solid rgb(236, 147, 147) !important;
} 

.parasha.btn:focus{
    background:rgb(236,199,147) !important;
    color: black !important;
}
.parasha.btn{
    border: 0.2rem solid rgb(236,199,147) !important;
    color: dimgray;
}



.taanis.btn:focus{
    background:rgb(160, 160, 160) !important;
    color: black !important;
}
.taanis.btn{
    border: 0.2rem solid rgb(160, 160, 160) !important;
    color: dimgray;
}